/* MY CSS */

.navbar-nav .active {
  color: var(--base-color);
}
.navbar .navbar-nav .nav-item:hover .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link {
  opacity: 1 !important;
  color: var(--base-color) !important;
}

.footer_text-white a {
  color: #fff;
}
.footer_text-white a:hover {
  color: var(--base-color);
}
footer a:hover {
  color: var(--base-color);
}

.social-icon-style-10 {
  ul {
    li {
      a {
        color: var(--white);
        &:hover {
          color: var(--prop-theme) !important;
        }
      }
    }
  }
}

/* Custom backgrounds */
.bg-warm-ivory {
  background-color: var(--warm-ivory);
}
.bg-beige-soft {
  background-color: var(--beige-soft);
}

/* Text color */
.text-brown-dark {
  color: var(--brown-dark) !important;
}

/* Gradient Backgrounds */

.bg-gradient-gold {
  /* background: linear-gradient(
    to top right,
    var(--base-color) 0%,
    var(--gold-secondary) 25%,
    var(--beige-soft) 60%,
    var(--warm-ivory) 100%
  ); */

  background-image: linear-gradient(
    to right top,

    var(--beige-soft),
    var(--beige-soft),
    var(--warm-ivory),
    var(--base-color),
    var(--gold-secondary)
  );
}
.bg-gradient-gold-metallic {
  background-image: linear-gradient(
    to right top,
    #a07b30,
    var(--base-color),
    var(--gold-secondary),
    #d9c08c,
    #f4e7c6
  );
}
.bg-gradient-gold-premium {
  background-image: linear-gradient(
    to right top,
    var(--charcoal-black),
    var(--carbon-dark),
    var(--base-color),
    var(--gold-secondary),
    var(--warm-ivory)
  );
}

.bg-gradient-gold-luxe {
  background-image: linear-gradient(
    to right top,
    var(--dark-charcoal),
    var(--charcoal-black),
    var(--brown-dark),
    var(--base-color),
    var(--gold-secondary)
  );
}

.bg-gradient-earth-lux {
  background-image: linear-gradient(
    to right top,
    var(--beige-soft),
    var(--warm-ivory),
    var(--base-color),
    var(--gold-secondary),
    var(--brown-dark)
  );
}

.bg-vibrance-premium {
  background-image: linear-gradient(
    to right top,
    var(--charcoal-black),
    var(--carbon-dark),
    var(--base-color),
    var(--gold-secondary),
    var(--warm-ivory)
  );
}

/*  */
.btn-gradient-gold {
  background-image: linear-gradient(
    to right,
    var(--gold-secondary),
    var(--base-color),
    var(--beige-soft),
    var(--gold-secondary)
  );
  background-size: 200% auto;
  color: var(--white);
}

.text-gradient-gold {
  background-image: linear-gradient(
    to right,
    var(--gold-secondary),
    var(--base-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-backdrop-gradient-black {
  background-color: rgb(0 0 0 / 0.5);
}
