/* MY CSS */

.navbar-nav .active {
  color: var(--base-color);
}
.navbar .navbar-nav .nav-item:hover .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link {
  opacity: 1 !important;
  color: var(--base-color) !important;
}

.footer_text-white a {
  color: #fff;
}
.footer_text-white a:hover {
  color: var(--base-color);
}
footer a:hover {
  color: var(--base-color);
}

.social-icon-style-10 {
  ul {
    li {
      a {
        color: var(--white);
        &:hover {
          color: var(--prop-theme) !important;
        }
      }
    }
  }
}
